nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0px 20px;
    background-color: #559f9e;
}

nav a,h1{
    color: white;
    text-decoration: none;
}

nav div a{
    margin-right: 20px;
}

.btn{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color:#e5e5bc ;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    font-size: 16px;
    border: none;
    box-shadow: #d8e6ce;
}
